/* src/components/Sidebar.css */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 1vw;
}

.options {
    background-color: #dbdbdb;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.options.collapsed {
    display: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.toggle-btn {
    background-color: #f56e07;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
