.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.other {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header, footer {
  height: 10vh;
  background-color: #0e0f45;
  color: white;
  padding: 1em;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
}
