.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.other {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  position: fixed;
  z-index: 3;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 3;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  left: 0;
  height: 100vh;
  width: 15vw;
  margin-top: 7vh;
  padding: 3vh;
  opacity: 0.9;
  background-color: #121317;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: ease 0.5s;
}

.sidebar.collapsed {
  left: 0;
  height: 0vh;
  width: 0vw;
  opacity: 0;
  transition: ease 0.5s;
}

.overlay {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: ease 0.6s;
}

.overlay.active {
  position: relative;
  z-index: 4;
  opacity: 1;  
  transition: ease 0.6s;
}

.options {
  list-style: none;
  text-align: left;
  border-radius: 5px;
  padding: 15px;
  margin: 0;
  opacity: 1;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.options.collapsed {
  opacity: 0;
}

.sidebar ul li{
  margin: 10px 0;
}

.toggle-btn {
  padding: 10px;
  margin-bottom: 20px;
  background-image: url('images/ham.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 6;
  width: 100vw;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.menu-toggle {
  height: 10px;
  width: 10px;
  background-image: url('images/ham.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.nav-items a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
}

.contact-card {
  width: 23vw;
  height:40vh;
  border: 1px solid #202024;
  background-color: #2b2b30;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 20px;
  font-size: small;
  text-align: left;
  transition: transform 0.2s;
}

.contact-card:hover {
  transform: scale(1.1);
}

.image-card {
  background-image: url('images/IMG_2824.WEBP');
  background-size: cover;
  background-position: center;
  width: 300px;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 20px;
  text-align: left;
  transition: transform 0.2s;
}

.image-card:hover {
  transform: scale(1.1);
}

.contact-header {
  color: white;
  padding: 10px 15px;
  text-align: center;
}

.contact-body {
  padding: 15px;
  color: white;
}

.contact-body p {
  margin: 10px 0;
  line-height: 1.6;
}

.logo {
  height: 10px;
  width: 10px;
  background-image: url('images/cathvyar.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 5px;
  border: none;
  padding: 18px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar hr {
  width: 10vw;
  margin-left: 0;
  border-color: gray;
}

.contact-card hr {
  width: 20vw;
  border-color: white;
}

header, footer {
  width: 100vw;
  padding: 1em;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10vh;
  background: black;
  color: white;
  font-size: small;
}

header {
  height: 20vh;
  background-image: url('images/background.png');
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
  color: white;
  background-color: #121317
}

a {
  text-decoration: none;
  color: white;
}